# Auto detect text files and perform LF normalization
* text=auto

# Ensure shell scripts use LF
*.sh text eol=lf

# Ensure Windows batch files use CRLF
*.bat text eol=crlf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
